@layer reset {
  .sf-style-scope *,
  .sf-style-scope *::before,
  .sf-style-scope *::after {
    box-sizing: border-box;
  }

  .sf-style-scope * {
    margin: 0;
  }

  .sf-style-scope button,
  .sf-style-scope input,
  .sf-style-scope textarea,
  .sf-style-scope select {
    border: 0;
    background: none;
  }

  .sf-style-scope button {
    cursor: pointer;
  }
}
